PORT=3000
TMDB_API_KEY=sua_chave_aqui
DB_HOST=35.226.64.52
DB_USER=IAC_2026_02_yago_martins
DB_PASSWORD=sua_senha
DB_NAME=IAC_2026_02_yago_martins
DB_PORT=3306
SESSION_SECRET=segredo_da_sessao_super_seguro

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_ID=

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_PORT_PUBLIC=9003
MINIO_ACCESS_KEY=ademiro
MINIO_SECRET_KEY=szoboslai

# Brevo SMTP
SMTP_USER=
SMTP_PASS=